/* CSS used here will be applied after bootstrap.css */

.dropdown {
    display: inline-block;
    margin-right: 20px;
    padding-right: 10px;
}

.dropdown-menu {
    background-color: lightgray !important;
}
.glyphicon-bell {
    font-size: 1.5rem;
}

.notifications {
    min-width: 420px;
}

.notifications-wrapper {
    overflow: auto;
    max-height: 250px;
}

.menu-title {
    color: #ff7788;
    font-size: 1.5rem;
    display: inline-block;
}

.glyphicon-circle-arrow-right {
    margin-left: 10px;
}


.notification-heading, .notification-footer {
    padding: 2px 10px;
}


.dropdown-menu.divider {
    margin: 5px 0;
}

h4.item-title {
    color: #000;
    font-size: 0.75rem !important;
}
.item-info {
    font-size: 1rem;
}
.notifications a.content {
    text-decoration: none;
    background: #ccc;
}

.notification-item {
    padding: 10px;
    margin: 5px;
    background: #4fb4da;
    border-radius: 4px;
}
.notification-anchor {
    display:block;
}
