.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-clearfix {
    min-height: 0
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important
}

.ui-icon {
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    min-height: 0;
    font-size: 100%
}

.ui-accordion .ui-accordion-icons {
    padding-left: 2.2em
}

    .ui-accordion .ui-accordion-icons .ui-accordion-icons {
        padding-left: 2.2em
    }

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: .5em;
    top: 50%;
    margin-top: -8px
}

.ui-accordion .ui-accordion-content {
    padding: 1em 2.2em;
    border-top: 0;
    overflow: auto
}

.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default
}

.ui-button {
    display: inline-block;
    position: relative;
    padding: 0;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible
}

    .ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover, .ui-button:active {
        text-decoration: none
    }

.ui-button-icon-only {
    width: 2.2em
}

button.ui-button-icon-only {
    width: 2.4em
}

.ui-button-icons-only {
    width: 3.4em
}

button.ui-button-icons-only {
    width: 3.7em
}

.ui-button .ui-button-text {
    display: block;
    line-height: normal
}

.ui-button-text-only .ui-button-text {
    padding: .4em 1em
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text {
    padding: .4em;
    text-indent: -9999999px
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 1em .4em 2.1em
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: .4em 2.1em .4em 1em
}

.ui-button-text-icons .ui-button-text {
    padding-left: 2.1em;
    padding-right: 2.1em
}

input.ui-button {
    padding: .4em 1em
}

.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    margin:auto;

}


.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary {
    left: .5em
}

.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary {
    right: .5em
}

.ui-buttonset {
    margin-right: 7px
}

    .ui-buttonset .ui-button {
        margin-left: 0;
        margin-right: -.3em
    }

input.ui-button::-moz-focus-inner, button.ui-button::-moz-focus-inner {
    border: 0;
    padding: 0
}

.ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none
}

    .ui-datepicker .ui-datepicker-header {
        position: relative;
        padding: .2em 0
    }

    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
        position: absolute;
        top: 2px;
        width: 1.8em;
        height: 1.8em
    }

    .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
        top: 1px
    }

    .ui-datepicker .ui-datepicker-prev {
        left: 2px
    }

    .ui-datepicker .ui-datepicker-next {
        right: 2px
    }

    .ui-datepicker .ui-datepicker-prev-hover {
        left: 1px
    }

    .ui-datepicker .ui-datepicker-next-hover {
        right: 1px
    }

    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -8px;
        top: 50%;
        margin-top: -8px
    }

    .ui-datepicker .ui-datepicker-title {
        margin: 0 2.3em;
        line-height: 1.8em;
        text-align: center
    }

        .ui-datepicker .ui-datepicker-title select {
            font-size: 1em;
            margin: 1px 0
        }

    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
        width: 45%
    }

    .ui-datepicker table {
        width: 100%;
        font-size: .9em;
        border-collapse: collapse;
        margin: 0 0 .4em
    }

    .ui-datepicker th {
        padding: .7em .3em;
        text-align: center;
        font-weight: bold;
        border: 0
    }

    .ui-datepicker td {
        border: 0;
        padding: 1px
    }

        .ui-datepicker td span, .ui-datepicker td a {
            display: block;
            padding: .2em;
            text-align: right;
            text-decoration: none
        }

    .ui-datepicker .ui-datepicker-buttonpane {
        background-image: none;
        margin: .7em 0 0 0;
        padding: 0 .2em;
        border-left: 0;
        border-right: 0;
        border-bottom: 0
    }

        .ui-datepicker .ui-datepicker-buttonpane button {
            float: right;
            margin: .5em .2em .4em;
            cursor: pointer;
            padding: .2em .6em .3em .6em;
            width: auto;
            overflow: visible
        }

            .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
                float: left
            }

    .ui-datepicker.ui-datepicker-multi {
        width: auto
    }

.ui-datepicker-multi .ui-datepicker-group {
    float: left
}

    .ui-datepicker-multi .ui-datepicker-group table {
        width: 95%;
        margin: 0 auto .4em
    }

.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%
}

.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%
}

.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left
}

.ui-datepicker-row-break {
    clear: both;
    width: 100%;
    font-size: 0
}

.ui-datepicker-rtl {
    direction: rtl
}

    .ui-datepicker-rtl .ui-datepicker-prev {
        right: 2px;
        left: auto
    }

    .ui-datepicker-rtl .ui-datepicker-next {
        left: 2px;
        right: auto
    }

    .ui-datepicker-rtl .ui-datepicker-prev:hover {
        right: 1px;
        left: auto
    }

    .ui-datepicker-rtl .ui-datepicker-next:hover {
        left: 1px;
        right: auto
    }

    .ui-datepicker-rtl .ui-datepicker-buttonpane {
        clear: right
    }

        .ui-datepicker-rtl .ui-datepicker-buttonpane button {
            float: left
        }

            .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
                float: right
            }

    .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
        border-right-width: 0;
        border-left-width: 1px
    }

.ui-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    outline: none
}

    .ui-menu .ui-menu {
        position: absolute
    }

    .ui-menu .ui-menu-item {
        position: relative;
        margin: 0;
        padding: 3px 1em 3px .4em;
        cursor: pointer;
        min-height: 0;
        list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
    }

    .ui-menu .ui-menu-divider {
        margin: 5px 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 1px 0 0 0
    }

    .ui-menu .ui-state-focus, .ui-menu .ui-state-active {
        margin: -1px
    }

.ui-menu-icons {
    position: relative
}

    .ui-menu-icons .ui-menu-item {
        padding-left: 2em
    }

.ui-menu .ui-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .2em;
    margin: auto 0
}

.ui-menu .ui-menu-icon {
    left: auto;
    right: 0
}

.ui-selectable {
    -ms-touch-action: none;
    touch-action: none
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dotted black
}

.ui-selectmenu-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: none
}

    .ui-selectmenu-menu .ui-menu {
        overflow: auto;
        overflow-x: hidden;
        padding-bottom: 1px
    }

        .ui-selectmenu-menu .ui-menu .ui-selectmenu-optgroup {
            font-size: 1em;
            font-weight: bold;
            line-height: 1.5;
            padding: 2px 0.4em;
            margin: 0.5em 0 0 0;
            height: auto;
            border: 0
        }

.ui-selectmenu-open {
    display: block
}

.ui-selectmenu-button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer
}

    .ui-selectmenu-button span.ui-icon {
        right: 0.5em;
        left: auto;
        margin-top: -8px;
        position: absolute;
        top: 50%
    }

    .ui-selectmenu-button span.ui-selectmenu-text {
        text-align: left;
        padding: 0.4em 2.1em 0.4em 1em;
        display: block;
        line-height: 1.4;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    max-width: 300px;
    -webkit-box-shadow: 0 0 5px #aaa;
    box-shadow: 0 0 5px #aaa
}

body .ui-tooltip {
    border-width: 2px
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em
}

    .ui-widget .ui-widget {
        font-size: 1.1em;
    }

    .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
        font-family: Verdana,Arial,sans-serif;
        font-size: 1em
    }

.ui-widget-content {
    border: 1px solid #aaa;
    background: #fff url("") 50% 50% repeat-x;
    color: #222
}

    .ui-widget-content a {
        color: #222!important;
    }

.ui-widget-header {
    border-bottom: 1px solid #aaa;
    color: #222 ;
    font-weight: bold;
}

    .ui-widget-header a {
        color: #222!important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        border: 1px solid #d3d3d3;
        background: #e6e6e6 url("") 50% 50% repeat-x;
        font-weight: normal;
        color: #555
    }

        .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
            color: #555;
            text-decoration: none
        }

    .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
        font-weight: normal;
        color: #212121;
    }

        .ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-state-focus a, .ui-state-focus a:hover, .ui-state-focus a:link, .ui-state-focus a:visited {
            color: #212121;
            text-decoration: none
        }

    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
        background: #035682 !important;
        color: #fff!important;
    }

        .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
            color: #212121;
            text-decoration: none
        }

    .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
        border: 1px solid #fcefa1;
        background: #fbf9ee url("") 50% 50% repeat-x;
        color: #fff;
    }

        .ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
            color: #363636
        }

    .ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
        border: 1px solid #cd0a0a;
        background: #fef1ec url("") 50% 50% repeat-x;
        color: #cd0a0a
    }

        .ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
            color: #cd0a0a
        }

    .ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
        color: #cd0a0a
    }

    .ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
        font-weight: bold
    }

    .ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
        opacity: .7;
        filter: Alpha(Opacity=70);
        font-weight: normal
    }

    .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
        opacity: .35;
        filter: Alpha(Opacity=35);
        background-image: none
    }

        .ui-state-disabled .ui-icon {
            filter: Alpha(Opacity=35)
        }

.ui-icon {
    width: 16px;
    height: 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("images/arrows/left.png");
    background-size: contain;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: transparent;
    background-position:0;
}

span.ui-button-icon-primary.ui-icon.ui-icon-calculator {
    background-image: url("images/arrows/down.png");
    background-size: auto;
    background-position: center;
    width: 30px;
    height: 30px;
    opacity: .5;
    margin: 0;
}

.ui-icon-circle-triangle-e {
    background-position: 0;
    background-image: url(images/arrows/right.png) !important;
}

.ui-icon-circle-triangle-w {
    background-position: 0;
    background-image: url(images/arrows/left.png) !important;
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    margin: -8px 0 0 -8px;
    padding: 8px;
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30);
    border-radius: 8px
}

.ui-widget.ui-widget-content {
    border: 1px solid #e2e8ef;
    padding: 0 !important;
    border-radius: 0;
    box-shadow: 0px 14px 20px 1px #03070c2b;
}

.month-picker {
    display: inline-block;
    position: absolute;
    z-index: 9999
}

    .month-picker table {
        border-collapse: separate;
        border-spacing: 2px 2px
    }

    .month-picker td {
        padding: 0
    }

    .month-picker .ui-button-text {
        padding: .4em 0;
        border: 1px solid hsla(0,0%,96.1%,.75);
    }

.month-picker-header {
    margin: 3px 3px 0;
    padding: 3px;
    border: none;
}

    .month-picker-header .ui-button-text {
        border: none;
    }

/*.month-picker-next a span.ui-icon-circle-triangle-e {
    margin-left: 15px;
}
*/
.month-picker-year-table {
    width: 100%;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none
}

    .month-picker-year-table a {
        border: none;
        background: transparent;
    }

    .month-picker-year-table .ui-button {
        font-size: 1.1em;
        width: 1.8em;
        height: 1.8em;
        cursor: default;
        margin: 0;
    }

    .month-picker-year-table .month-picker-title {
        text-align: center;
        border: none;
        outline: none !important;
        box-shadow: none;
    }
    .month-picker-year-table .month-picker-title a {
       display:flex;
       justify-content:center;
    }
        .month-picker-year-table .month-picker-title a span {
            border: none;
            outline: none !important;
            box-shadow: none;
            align-self:center;
        }

        .month-picker-year-table .month-picker-title .ui-button {
            font-size: 1.3em;
            padding: 0;
            width: 100%;
            font-weight: 500;
            vertical-align: middle;
            letter-spacing: .08em;
            border: none;
            outline: none !important;
            box-shadow: none;
        }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    /* border: 1px solid hsla(0,0%,96.1%,.75); */
    background: transparent;
    font-weight: normal;
    /* color: #fff; */
}

.month-picker-year-table .ui-button-text {
    padding: 0
}

.month-picker-month-table td {
    height: 35px;
    text-align: center
}

.month-picker-month-table .ui-button {
    width: 4.2em;
    margin: .2em
}

.month-picker-open-button {
    height: 30px;
    width: 30px;
    vertical-align: bottom;
}

.month-picker-invalid-message {
    display: none;
    background-color: #ff0
}

.month-picker-disabled {
    background-color: #e1e1e1
}

div#MonthNav {
    text-align: center;
}

input#SelectMonth {
    border: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;
    opacity: .8;
    width: 100%;
    max-width: 200px;
}
